@import url(./fontawesome-free-5.15.2-web/css/all.css);

/* every node section */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* general elements: body, section and input*/

body{
    width: 60vw;
    margin: 3rem auto;
    text-align: center;
    max-width: 44.175rem;
    min-width: 12.95rem;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(72, 80, 88, 0.171);
}

.left-side{
    height: 80%;
    width: 45%;
    margin: 3% 3%;
    display: flex;
    flex-flow: column;
}

.middle{
    align-self: center;
}


.right-side{
    width: 45%;
    align-self: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1% 3%;
}

footer{
    border: 1px solid rgba(82, 80, 80, 0.137);
}

/* left section: clickable bottons to social media services */

section[class="left-side"] a{
    width: 25vw;
    height: 2.5rem;
    margin: 0.5rem auto;
    max-width: 15rem;
    text-decoration: none;
    
}

.facebook-button{
    background-color: rgba(87, 152, 236, 0.863);
    border: none;
    color:white;
}
.gmail-button{
    background-color: rgba(221, 42, 42, 0.904);
    border: none;
    color:white;

}
.twitter-button{
    background-color:#19B7EA;
    border: none;
    color:white;
}


/*  middle section: separator and "or" circle */
.separator{
    content:"";
    height: 8rem;
    width: 0.09vw;
    background-color: rgba(0, 0, 0, 0.13);
    opacity: 1; 
    transform: translateY(1.1rem);
    margin: auto 1rem;
    z-index:-1;
    
}
.or{
    content:"";
    height: 2.28rem;
    width: 2.28rem;
    border: 1px solid rgba(0, 2, 3, 0.096);
    border-radius: 50%;
    transform: translateY(-4rem);
    background-color: rgb(255, 255, 255);
    padding: 0.6rem 0.2rem 0 0;
    color: rgba(128, 128, 128, 0.233);
    z-index:1;
    
}

/* right section: sign in component */
h1{
    width: 100%;
    margin-bottom: 0rem;
    color: rgba(0, 0, 0, 0.616);
}

.user-information{
    width: 100%;
    height: 4rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

input[type="text"], input[type="password"]{
    border:none; 
}

.underliner{
    align-self:left;
    content: "";
    width: 85%;
    height:0.08rem;
    background-color: rgba(56, 53, 53, 0.205);
}

.last-step-login{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.login{
    align-self: center;
    width: 4rem;
    max-width: 15.70rem; 
    height: 2rem;
    margin-top: 1%;
    color: white;
    background-color: rgba(69, 162, 238, 0.644);
    border: none;
    border-radius: 5%;
    font-weight: bolder;
    font-size: 0.8rem;
}

input[type="checkbox"]{
    margin: 4% 3% 0 0;
}

div span{
    margin: 3% 18% 0 0;
}

/* last div: "register now" and "forgotten" */
footer a , footer div{
    margin-bottom: 0.3rem;   
}
footer a{
    color: rgb(38, 99, 168);
    font-weight: bolder;
    text-decoration: none;
}

.divider{
    opacity: 0.2;
    display: inline-block;
    width: 0.1vw;
    margin-right: 0.3rem;
}